@font-face {
    font-family: graphik;
    src: url(../../fonts/Graphik\ Family/);
}

* {
    font-family: "graphik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}